@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<table style="margin:0px;background-color:transparent;border:none;">
		<tbody style="border:none;">
			<tr>
				<td style="width:32px;">
					<img src="~/images/Banners/icon1.svg" alt="Offers" style="width:32px; height:32px;margin:10px;" />
				</td>
				<td>
					<h4><i>BorBa Team</i> - @SharedLocalizer["Team"]</h4>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="100%">
					@SharedLocalizer["Offer0"]
					@Html.Partial("carouselItems\\_Offer")
				</td>
			</tr>
		</tbody>
	</table>
