@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h4>@SharedLocalizer["Reporting"]</h4>
<span class="visible-md visible-lg "><br /></span>
<ul>
	<li>
		DevExpress Reporting
	</li>
	<li>
		Crystal Reports
	</li>
	<li>
		MS Reports
	</li>
	<li>
		MS Office Interop, Google API
	</li>
</ul>