@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<table style="margin:0px;background-color:transparent;border:none;">
	<tbody style="border:none;">
		<tr>
			<td style="width:32px;">
				<img src="~/images/Banners/icon9.svg" alt="Reporting" style="width:32px; height:32px;margin:10px;" />
			</td>
			<td>
				<h4>@SharedLocalizer["Reporting"]</h4>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<ul>
					<li>
						DevExpress Reporting
					</li>
					<li>
						Crystal Reports
					</li>
					<li>
						MS Reports
					</li>
					<li>
						MS Office Interop, Google API
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
