@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h4>@SharedLocalizer["WinServices"]</h4>
<span class="visible-md visible-lg "><br /></span>
<ul>
	@Html.Partial("carouselItems\\Aifp")
	@Html.Partial("carouselItems\\EQWin")
	@Html.Partial("carouselItems\\PStore")
</ul>
