@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<li>
	<a asp-controller="Product" asp-action="PropertyStore" class="tooltips" title="@SharedLocalizer["PropertyStore"]">
		<span style="color:white">Property Store</span>
	</a>
</li>
