@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<div class="row">
	@Html.Partial("projectHeaders/Aifp")
	<p>
		WinForms-застосування для проведення складних психологічних тестів і тестів здібностей працівників соціальної безпеки (поліція, пожежники і т.п.) при їх влаштуванні на роботу. 
		За даними тестів застосування створює всебічні рекомендації для різних організацій.
	</p>
	<p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkAifp")
	</p>
	<p>
		Технології: VB.Net, C#, XML, XSLT, ADO.NET, MS SQL Server, Crystal Reports, WCF
	</p>
</div>
@Html.Partial("screens/_AifpScreens")
