@{
    Layout = "~/Views/Shared/_Layout2.cshtml";    
}
<div class="row">
	@Html.Partial("projectHeaders/Aifp")
    <p>      
		WinForms-application for complex psychological tests and tests of the abilities of social workers (police, firefighters, etc.) 
		when they get a job. 
		According to the test results, the application creates comprehensive recommendations for various employers.
    </p>
    <p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkAifp")
    </p>
    <p>
        Thechologies: VB.Net, C#, XML, XSLT, ADO.NET, MS SQL Server, Crystal Reports, WCF.
    </p>
</div>
@Html.Partial("screens/_AifpScreens")
