@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<script src="~/js/borba.js"></script>

<div class="row">
	@Html.Partial("projectHeaders/Checkpoint")
	<p>
		Планшетне застосування для будівельних інспекторів.
	</p>
	<p>
		Застосування дозволяє контролювати виконання робіт на об'єктах, що будуються, 
		фотографувати об'єкти і створювати графічні примітки на фотографіях.
	</p>
	<p>
		@Html.Partial("links/_linkCompros").
	</p>
	<p>
		Технології: C#, MS SQL Server, System.Data.SqlServerCe, Microsoft.Ink, System.Web
	</p>
</div>
@Html.Partial("screens/_CheckpointScreens")
