@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row">
	@Html.Partial("projectHeaders/Eps")
    <p>
        TThe energy carriers billing system.
    </p>
    <p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkEps")
    </p>
    <p>
        The application implements energy carriers billing and provides analytical and financial reporting.
    </p>
    <p>
        Thechologies: WinForms, C#, Visual Studio Tools for Office, ADO.NET, MS SQL Server, PostgreSQL
    </p>
</div>
@Html.Partial("screens/_EpsScreens")
