@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<div class="row">
	@Html.Partial("projectHeaders/EQWin")
	<p>
		Система для автомастерских, выполняющих ремонт транспортных средств, поврежденных в ДТП.
	</p>
	<p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkPPG")
	</p>
	<p>
		Система состоит из WinForms-приложения и службы Windows для обмена данными со страховыми компаниями и поставщиками запчастей.
	</p>
	<p>
		<h4>Приложение позволяет:</h4>
	</p>
	<ul>
		<li>
			оформлять заказы на выполнение ремонта;
		</li>
		<li>
			рассчитывать сметы запчастей и работ;
		</li>
		<li>
			согласовывать сметы со страховыми компаниями и заказчиками;
		</li>
		<li>
			формировать заказы на поставку запчастей;
		</li>
		<li>
			планировать и контролировать выполнение ремонтных работ;
		</li>
		<li>
			осуществлять расчеты со страховыми компаниями, поставщиками и заказчиками;
		</li>
		<li>
			формировать всесторонние аналитические и синтетические отчеты;
		</li>
		<li>
			загружать в базу данных EQ данные о моделях транспортных средств и нормах времени на выполнение ремонтных работ из FTP-серверов GLASS и NTAR.
		</li>
	</ul>
	<p>
		Технологии: WinForms, VB.Net, C#, DevExpress, WPF, Visual Studio Tools for Office, ADO.NET, MS SQL Server, 3ds Max
	</p>
	<p>
		<h4>Служба осуществляет:</h4>
	</p>
	<ul>
		<li>
			обмен данными между ремонтной автомастерской и страховыми компаниями для согласования и утверждения смет и счетов-фактур на ремонт транспортных средств по протоколам ORM, PNet, AudaNet, ARNI, EstImage;
		</li>
		<li>
			получение данных о номенклатуре и ценам запчастей по протоколам PartsAccess, PartsCheck, PartsTrader;
		</li>
		<li>
			обмен данными с пакетом бухгалтерского учета MYOB.
		</li>
	</ul>
	<p>
		Технологии: Windows Services, Web Services, VB.Net, ADO.NET, MS SQL Server
	</p>
</div>
@Html.Partial("screens/_EQWinScreens")
