@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<div class="row">
	@Html.Partial("projectHeaders/EQWin")
	<p>
		Система для автомайстерень, що виконують ремонт транспортних засобів, пошкоджених в ДТП.
	</p>
	<p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkPPG")
	</p>
	<p>
		Система складається з WinForms-застосування і служби Windows для обміну даними зі страховими компаніями і постачальниками запчастин.
	</p>
	<p>
		<h4>Застосування дозволяє:</h4>
	</p>
	<ul>
		<li>
			оформляти замовлення на виконання ремонту;
		</li>
		<li>
			розраховувати кошториси запчастин і робіт;
		</li>
		<li>
			погоджувати кошториси зі страховими компаніями і замовниками;
		</li>
		<li>
			формувати замовлення на поставку запчастин;
		</li>
		<li>
			планувати і контролювати виконання ремонтних робіт;
		</li>
		<li>
			здійснювати розрахунки зі страховими компаніями, постачальниками і замовниками;
		</li>
		<li>
			формувати всебічні аналітичні і синтетичні звіти;
		</li>
		<li>
			завантажувати в базу даних EQ дані про моделі транспортних засобів і нормах часу на виконання ремонтних робіт з FTP-серверів GLASS і NTAR.
		</li>
	</ul>
	<p>
		Технології: WinForms, VB.Net, C#, DevExpress, WPF, Visual Studio Tools for Office, ADO.NET, MS SQL Server, 3ds Max
	</p>
	<p>
		<h4>Служба здійснює:</h4>
	</p>
	<ul>
		<li>
			обмін даними між ремонтною автомайстернею і страховими компаніями для узгодження і затвердження кошторисів і рахунків-фактур на ремонт транспортних засобів за протоколами ORM, PNet, AudaNet, ARNI, EstImage;
		</li>
		<li>
			отримання даних про номенклатуру і ціни запчастин за протоколами PartsAccess, PartsCheck, PartsTrader;
		</li>
		<li>
			обмін даними з пакетом бухгалтерського обліку MYOB.
		</li>
	</ul>
	<p>
		Технології: Windows Services, Web Services, VB.Net, ADO.NET, MS SQL Server
	</p>
</div>
@Html.Partial("screens/_EQWinScreens")
