@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<script src="~/js/borba.js"></script>

<div class="row">
	@Html.Partial("projectHeaders/kdt")
	<p>
		Пакет программ для расчета оптимального маршрута на больших складах при комплектации заказа.
	</p>
	<p>
		@Html.Partial("links/_linkCompros")
	</p>
	<p>
		Технологии: C#, MS SQL Server, SQL CLR, MS Access
	</p>
</div>
@*@Html.Partial("screens/_KdtScreens")*@
