@{
    Layout = "~/Views/Shared/_Layout2.cshtml";   
}

<div class="row">
	@Html.Partial("projectHeaders/SmartHouse")
    <p>
		The Web application provide online access to the measured data of the temperature.
    </p>
    <p>
		The application allows you to manage the temperature in the house online.
    </p>
    <p>
        Techologies: C#, ASP.NET MVC 5, LINQ, MS SQL Server, JavaScript, HTML5, CSS, Bootstrap, Google API, Web API.
    </p>
    <p>
        To see developed version of thi sapplication plese go to <a href="http://82.117.250.53:8080" target="_blank">here</a>.
        Login:<i>admin</i> Password: <i>admin</i>.
    </p>
</div>
@Html.Partial("screens/_SmartHouseScreens")
