@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<div class="row">
	@Html.Partial("projectHeaders/TED")
	<p>
		WinForms-приложение для анализа рынка энергоносителей.
	</p>
	<p>
		@Html.Partial("links/_linkCompros")
		@Html.Partial("links/_linkEps")
	</p>
	<p>
		Приложение позволяет:
	</p>
	<ul>
		<li>
			осуществлять анализ рынка энергоносителей;
		</li>
		<li>
			проводить тендеры и выбор поставщиков;
		</li>
		<li>
			планировать и заключать контракты с клиентами.
		</li>
	</ul>
	<p>
		Технологии: WinForms, C#, DevExpress, Visual Studio Tools for Office, ADO.NET, MS SQL Server
	</p>
</div>
@Html.Partial("screens/_TedScreens")
