@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<script src="~/js/borba.js"></script>

<div class="row">
	@Html.Partial("projectHeaders/Zsh")
	<p>
		Проекты в рамках корпоративной информационной системы
		<a href="http://www.shaht.kharkov.ua/" target="_blank">
			публичного акционерного общества «Харьковский машиностроительный завод «Свет Шахтера»
		</a>.
	</p>
	<p>
		Проекты предоставляют инструменты для:
		<ul>
			<li>
				управления данными о продукции;
			</li>
			<li>
				управления ресурсами;
			</li>
			<li>
				календарного планирования и управления производством;
			</li>
			<li>
				управления персоналом;
			</li>
			<li>
				управления финансами;
			</li>
			<li>
				управления сбытом;
			</li>
			<li>
				управления закупками;
			</li>
			<li>
				бухгалтерского учета.
			</li>
		</ul>
	</p>
	<p>
		Технологии: C#, XML, XSLT, Windows Forms, ASP.NET Web Forms, ADO.NET, MS SQL Server, Kompas API, Pro/ENGINEER API, Visual FoxPro,  FoxPro,  Clipper Nantucket
	</p>
</div>
@*@Html.Partial("screens/_ZshScreens")*@
