@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<script src="~/js/borba.js"></script>

<div class="row">
	@Html.Partial("projectHeaders/Zsh")
	<p>
		Проекти в рамках корпоративної інформаційної системи
		<a href="http://www.shaht.kharkov.ua/" target="_blank">
			публічного акціонерного товариства «Харківський машинобудівний завод «Світло Шахтаря»
		</a>.
	</p>
	<p>
		Проекти надають інструменти для:
		<ul>
			<li>
				управління даними про продукцію;
			</li>
			<li>
				управління ресурсами;
			</li>
			<li>
				календарного планування та управління виробництвом;
			</li>
			<li>
				управління персоналом;
			</li>
			<li>
				управління фінансами;
			</li>
			<li>
				управління збутом;
			</li>
			<li>
				управління закупівлями;
			</li>
			<li>
				бухгалтерського обліку.
			</li>
		</ul>
	</p>
	<p>
		Технології: C#, XML, XSLT, Windows Forms, ASP.NET Web Forms, ADO.NET, MS SQL Server, Kompas API, Pro/ENGINEER API, Visual FoxPro,  FoxPro,  Clipper Nantucket
	</p>
</div>
@*@Html.Partial("screens/_ZshScreens")*@
