@using BorBaNetCore.DataModel

@{
    Layout = null;
}

<h4>Контакты:</h4>

@Html.Partial("_teamPhotos")

<p>
	<br/>
	Если у Вас есть предложения, вопросы или комментарии,
	Вы можете звонить нам по любому из указанных телефонов или написать письмо на любой указанный почтовый ящик.
</p>
<p>
	Или же вы можете отправить нам сообщение, заполнив форму ниже.
</p>
<p>
	Мы гарантируем Вам ответ на следующий рабочий день.
</p>
<div>
	@Html.Partial("_PostMessageForm")
    @*@Html.Partial("_Messages.ru", ViewBag.Messages as List<Messages>)*@
</div>





