@using BorBaNetCore.DataModel

@{
	Layout = null;
}

<h4>Контакти:</h4>

@Html.Partial("_teamPhotos")

<p>
	<br />
	Якщо у Вас є пропозиції, питання або коментарі, 
	Ви можете дзвонити нам з будь-якого із зазначених телефонів або написати лист на будь-яку вказану поштову скриньку.
</p>
<p>
	Або ж ви можете відправити нам повідомлення, заповнивши форму нижче.
</p>
<p>
	Ми гарантуємо Вам відповідь на наступний робочий день.
</p>
<div>
	@Html.Partial("_PostMessageForm")
	@*@Html.Partial("_Messages.ru", ViewBag.Messages as List<Messages>)*@
</div>





