<table style="margin:0px;margin-top:15px;margin-bottom:15px;background-color:transparent;border:none;">
	<tbody style="border:none;">
		<tr>
			<td style="width:64px;">
				<img src="~/images/Logos/AifpWeb.svg" alt="AifpWeb" style="width: 64px; height:32px;" />
			</td>
			<td>
				<span style="margin:0px;margin-left:15px;font-size:larger;"><b>AIFP Online Testing</b></span>
			</td>
		</tr>
	</tbody>
</table>
