################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BorBaNetCore/v15/Server/sqlite3
/.vs
/BorbaUnitTest/obj/Release
/src/BorBaNetCore/obj/Release/net46
