@{
	Layout = null;
}
<div style="margin-left:0px;margin-top:30px;">
	<div>
		<section>
			Наша команда свыше 30 лет работает на рынке разработки программного обеспечения. 
			Мы имеем большой опыт в разработке баз данных и бизнесс-приложений.
			Мы разработали 
			<a asp-controller="Home" asp-action="Index">
				множество проектов
			</a>, используя целый спектр технологий Майкрософт.
			Мы предлагаем полный цикл разработки приложений на базе технологии Майкрософт от функциональной спецификации до реализации,
			внедрения и сопровождения.
		</section>
	</div>
	<div>
		<h3>Мы предлагаем:</h3>
		<ul>
			<li>Проектирование и разработка спецификаций бизнес-приложений;</li>
			<li>Проектирование баз данных и разработка запросов;</li>
			<li>Разработка приложений WinForms;</li>
			<li>Разработка приложений WPF;</li>
			<li>Разработка Web приложений (Web Forms, ASP.Net MVC, ASP.Net Core);</li>
			<li>Разработка Windows-сервисов;</li>
			<li>Разработка Web-сервисов (WCF, Web API, API Rest);</li>
			<li>Разработка кросс-платформенных мобильных приложений (iOS, Android & Windows Phone);</li>
			<li>Разработка всесторонних аналитических и синтетических отчетов (DevExpress Reporting, Crystal Reports, MS Reports, MS Office Interop, Google API);</li>
			<li>Разработка, кодирование, тестирование и установка приложений в соответствии со спецификациями бизнесс-аналитиков;</li>
			<li>Поддержка и обслуживание существующих приложений, переработка кода и исправление ошибок;</li>
			<li>Экспорт/импорт данных Excel/Word в разные форматы данных.</li>
	</ul>
	</div>
	<h3>Квалификация:</h3>
	@Html.Partial("_qualifications")
</div>
