@{
	Layout = null;
}
<div style="margin-left:0px;margin-top:30px;">
	<div>
		<section>
			Наша команда понад 30 років працює на ринку розробки програмного забезпечення.
			Ми маємо великий досвід в розробці баз даних і бізнес-застосувань.
			Ми розробили 
			<a asp-controller="Home" asp-action="Index">
				багато проектів
			</a>, використовуючи цілий спектр технологій Майкрософт.
			Ми пропонуємо повний цикл розробки застосувань на базі технологій Майкрософт від функціональної специфікації до реалізації,
			впровадження та супроводу.
		</section>
	</div>
	<div>
		<h3>Ми пропонуємо:</h3>
		<ul>
			<li> Проектування і розробка специфікацій бізнес-застосувань; </ li>
			<li> Проектування баз даних і розробка запитів; </ li>
			<li> Розробка застосувань WinForms; </ li>
			<li> Розробка застосувань WPF; </ li>
			<li> Розробка Web застосувань (Web Forms, ASP.Net MVC, ASP.Net Core); </ li>
			<li> Розробка Windows-сервісів; </ li>
			<li> Розробка Web-сервісів (WCF, Web API, API Rest); </ li>
			<li> Розробка крос-платформних мобільних застосувань (iOS, Android & Windows Phone); </ li>
			<li> Розробка всебічних аналітичних і синтетичних звітів (DevExpress Reporting, Crystal Reports, MS Reports, MS Office Interop, Google API);</ li>
			<li> Розробка, кодування, тестування та встановлення застосувань у відповідності зі специфікаціями бізнес-аналітиків;</ li>
			<li> Підтримка та обслуговування існуючих застосувань, переробка коду та виправлення помилок;</ li>
			<li> Експорт/імпорт даних Excel/Word в різні формати даних.</ li>
</ul>
	</div>
	<h3>Кваліфікація:</h3>
	@Html.Partial("_qualifications")
</div>
