<div>
	<ul>
		<li>
			C#, VB.Net, LINQ , Java, SQL, T-SQL, JavaScript, HTML, CSS, XAML, XML, XSLT, UML
		</li>
		<li>
			.NET Framework
		</li>
		<li>
			WinForms
		</li>
		<li>
			WPF (Windows Presentation Foundation)
		</li>
		<li>
			WCF (Windows Communications Foundation)
		</li>
		<li>
			.NET Web Services
		</li>
		<li>
			Web API
		</li>
		<li>
			Rest API
		</li>
		<li>
			ASP.NET Core MVC
		</li>
		<li>
			ASP.Net 3.5/4.0/4.5/4.6, ASP.NET MVC 4/5/6
		</li>
		<li>
			MVC Design Pattern
		</li>
		<li>
			AJAX, JavaScript and working with JavaScript libraries
		</li>
		<li>
			Bootstrap HTML, CSS, and JS library
		</li>
		<li>
			Cloud services (Microsoft Azure)
		</li>
		<li>
			DevExpress
		</li>
		<li>
			ADO.NET, Entity Framework, SQL CLR, LINQ to SQL
		</li>
		<li>
			MS SQL Server, MySQL, PostgreSQL, SQLite, Visual FoxPro, MS Access
		</li>
		<li>
			MS Visual Studio 2003, 2005, 2008, 2010, 2013, 2015, 2017
		</li>
		<li>
			Xamarin, Xamarin Studio, Xcode on the Mac
		</li>
		<li>
			Android Studio on a variety of platforms
		</li>
		<li>
			3ds Max
		</li>
		<li>
			Crystal Reports, DevExpress Reporting, MS Reports
		</li>
		<li>
			MS Office Interop, Google API
		</li>
		<li>
			Kompas API, Pro/ENGINEER API
		</li>
		<li>
			Sandcastle Help File Builder
		</li>
		<li>
			SVN, AnkhSVN, TortoiseSVN, Visual SourceSafe
		</li>
		<li>
			Configuring IIS 6.0/7.0
		</li>
		<li>
			TDD and Unit Testing
		</li>
		<li>
			DOS, FoxPro, Clipper Nantucket
		</li>
	</ul>
</div>
