<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifpWeb/aifpWeb1.png" style="width:100%;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifpWeb/aifpWeb2.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifpWeb/aifpWeb3.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifpWeb/aifpWeb4.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifpWeb/aifpWeb5.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>
