<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifp/aifp1.png" style="width:100%;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifp/aifp2.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifp/aifp3.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/aifp/aifp4.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>
