<div class="clearfix"></div>
<div class="row ">    
    <a href="http://82.117.250.53/EQWEB" target="_blank" class="tooltips" data-placement="top" title="Go to Web site login:test password:1">
        <img src="~/images/EQWeb/EQLogin.png" style="width:100%;padding:5px;" />
    </a>
</div>
<div class="clearfix"></div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb0.png" style="width:100%;padding:5px;" />
</div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb1.png" style="width:100%;padding:5px;" />
</div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb2.png" style="width:100%;padding:5px;" />
</div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb3.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/EQWeb/eqweb4.png" style="width:100%;padding:5px;" />
</div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb5.png" style="width:100%;padding:5px;" />
</div>
<div class="row ">
	<img src="~/images/EQWeb/eqweb6.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>
