@{
	Layout = null;
	var currentCulture = ViewBag.CurrentCulture;
	var currentCulture1 = ViewData["CurrentCulture"];
}
<div class="clearfix"></div>

<div class="row">
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile1.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile2.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile3.png" style="width:100%;padding:5px;" />
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile4.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile5.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile6.png" style="width:100%;padding:5px;" />
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile7.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile8.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile9.png" style="width:100%;padding:5px;" />
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile10.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile11.png" style="width:100%;padding:5px;" />
	</div>
	<div class="col-lg-4">
		<img src="~/images/MsjMobile/msjMobile12.png" style="width:100%;padding:5px;" />
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
<div class="col-lg-4">
	<img src="~/images/MsjMobile/msjMobile13.png" style="width:100%;padding:5px;" />
</div>
<div class="col-lg-4">
	<img src="~/images/MsjMobile/msjMobile14.png" style="width:100%;padding:5px;" />
</div>
<div class="col-lg-4">
	<img src="~/images/MsjMobile/msjMobile15.png" style="width:100%;padding:5px;" />
</div>
</div>
<div class="clearfix"></div>
