<div class="clearfix"></div>
<div>
    <a href="http://82.117.250.53:5000" target="_blank" class="tooltips" data-placement="top" title="Go to Web site login:admin password:admin">
        <img src="~/images/MsjWeb/MsjLogin.png" style="width:100%;padding:5px;" />       
    </a>
</div>
<div class="row">
	<img src="~/images/MsjWeb/msj1.png" style="width:100%;padding:5px;"/>
</div>
<div class="row" >
    <img src="~/images/MsjWeb/msj2.png" style="width:100%;padding:5px;"/>
</div>
<div class="row"  >
    <img src="~/images/MsjWeb/msj3.png" style="width:100%;padding:5px;"/>
</div>   
<div class="clearfix"></div>    
