<div class="clearfix"></div>
<div class="row">
    <a href="http://82.117.250.53:8080" target="_blank">
        <img src="~/images/SmartHouse/SmartHouseLogin.png" style="width: 100%;" />      
    </a>
</div>
<div class="clearfix"></div>
<div class="row">
	<img src="~/images/SmartHouse/SmartHouse1.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>
<div class="row">
	<img src="~/images/SmartHouse/SmartHouse2.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>
