<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/Ted/ted1.png" style="width:100%;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted2.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/Ted/ted3.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>

<div class="row ">
	<img src="~/images/Ted/ted4.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted5.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted6.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted7.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted8.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted9.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted10.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted11.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted12.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted13.png" style="width:100%;padding:5px;" />
</div>

<div class="row ">
	<img src="~/images/Ted/ted14.png" style="width:100%;padding:5px;" />
</div>
<div class="clearfix"></div>